@import "tailwindcss";

:root {
  --background: #1c1e1f;
  --secondary-background: #434643;
  --accent: #b3a774;
  --foreground: #fff;
  --secondary-foreground: #949c94;
}

body {
  background: var(--background);
}
