@import "tailwindcss";

:root {
  --background: #1c1e1f;
  --secondary-background: #434643;
  --accent: #b3a774;
  --foreground: #fff;
  --secondary-foreground: #949c94;
}

body {
  background: var(--background);
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thumb {
    scrollbar-color: #717176 transparent;
  }

  .scrollbar-ui::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-ui::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    border-radius: 9999px;
  }

  .scrollbar-ui::-webkit-scrollbar-thumb:hover {
    background-color: #52525b;
  }

  .scrollbar-ui::-webkit-scrollbar-track {
    background: transparent;
  }
}
